Repository SISC-IT/sisc-web, changes with the owners that CODEOWNERS names for each.
All owners: @Kosw6, @DongEun02, @discipline24, @twq110

Update README.md
  README.md
Owners: @Kosw6

[BE] 백엔드 프로젝트 초기 세팅
  backend/.gitattributes
  backend/.gitignore
  backend/build.gradle
  backend/gradle/wrapper/gradle-wrapper.jar
  backend/gradle/wrapper/gradle-wrapper.properties
  backend/gradlew
  backend/gradlew.bat
  backend/settings.gradle
  backend/src/main/java/org/sejongisc/backend/BackendApplication.java
  backend/src/test/java/org/sejongisc/backend/BackendApplicationTests.java
Owners: @discipline24

Update issue templates
  .github/ISSUE_TEMPLATE/❗-버그-이슈.md
  .github/ISSUE_TEMPLATE/🎨-디자인-요청.md
  .github/ISSUE_TEMPLATE/🚀-기능-요청---추가---개선.md
Owners: @Kosw6

[BE] 백엔드 프로젝트 초기 세팅 : common 패키지 관련 초기 세팅
  backend/src/main/java/org/sejongisc/backend/common/entity/postgres/BasePostgresEntity.java
  backend/src/main/java/org/sejongisc/backend/common/exception/CustomException.java
  backend/src/main/java/org/sejongisc/backend/common/exception/ErrorCode.java
  backend/src/main/java/org/sejongisc/backend/common/exception/ErrorResponse.java
  backend/src/main/java/org/sejongisc/backend/common/exception/controller/GlobalExceptionHandler.java
Owners: @discipline24

chore : 초기 프로젝트 설정
  .gitignore
  frontend/.prettierrc
  frontend/README.md
  frontend/eslint.config.js
  frontend/index.html
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.css
  frontend/src/App.jsx
  frontend/src/index.css
  frontend/src/main.jsx
  frontend/vite.config.js
Owners: @Kosw6, @DongEun02

feat : sidebar 구현 및 라우팅 설정
  frontend/index.html
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.jsx
  frontend/src/components/Layout.jsx
  frontend/src/components/Sidebar.css
  frontend/src/components/Sidebar.jsx
  frontend/src/index.css
  frontend/src/main.jsx
  frontend/src/pages/Attendance.jsx
  frontend/src/pages/BackTest.jsx
  frontend/src/pages/Board.jsx
  frontend/src/pages/Home.jsx
  frontend/src/pages/Mypage.jsx
  frontend/src/pages/StockGame.jsx
Owners: @DongEun02

feat : sidebar 구현 및 라우팅 설정 (#6)
  frontend/index.html
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.jsx
  frontend/src/components/Layout.jsx
  frontend/src/components/Sidebar.css
  frontend/src/components/Sidebar.jsx
  frontend/src/index.css
  frontend/src/main.jsx
  frontend/src/pages/Attendance.jsx
  frontend/src/pages/BackTest.jsx
  frontend/src/pages/Board.jsx
  frontend/src/pages/Home.jsx
  frontend/src/pages/Mypage.jsx
  frontend/src/pages/StockGame.jsx
Owners: @DongEun02

feat: 출석 페이지 생성 및 라우팅 세팅
  frontend/src/App.jsx
  frontend/src/assets/at_icon_1.png
  frontend/src/assets/at_icon_2.png
  frontend/src/assets/at_icon_3.png
  frontend/src/pages/Attendance.css
  frontend/src/pages/Attendance.jsx
  frontend/src/pages/AttendanceAll.jsx
  frontend/src/pages/AttendanceAsset.jsx
  frontend/src/pages/AttendanceFinanceIt.jsx
Owners: @DongEun02

refactor: 출석 페이지 중복 컴포넌트를 분리하여 중복 코드 제거
  frontend/src/components/ AttendanceSelectBox.jsx
  frontend/src/components/AttendanceSelectBox.css
  frontend/src/pages/Attendance.css
  frontend/src/pages/Attendance.jsx
Owners: @DongEun02

feat: 출석 페이지 생성 및 라우팅 세팅 (#7)
  frontend/src/App.jsx
  frontend/src/assets/at_icon_1.png
  frontend/src/assets/at_icon_2.png
  frontend/src/assets/at_icon_3.png
  frontend/src/components/ AttendanceSelectBox.jsx
  frontend/src/components/AttendanceSelectBox.css
  frontend/src/pages/Attendance.css
  frontend/src/pages/Attendance.jsx
  frontend/src/pages/AttendanceAll.jsx
  frontend/src/pages/AttendanceAsset.jsx
  frontend/src/pages/AttendanceFinanceIt.jsx
Owners: @DongEun02

feat: 출석관리(담당자) 페이지 라우팅 세팅
  frontend/src/App.jsx
  frontend/src/pages/AttendanceManage.jsx
Owners: @DongEun02

feat: 출석관리(담당자) 페이지 라우팅 세팅 (#8)
  frontend/src/App.jsx
  frontend/src/pages/AttendanceManage.jsx
Owners: @DongEun02

fix: 컴포넌트 이름 수정(공백 제거)
  frontend/src/components/AttendanceSelectBox.jsx
Owners: @DongEun02

fix: 컴포넌트 이름 수정(공백 제거) (#9)
  frontend/src/components/AttendanceSelectBox.jsx
Owners: @DongEun02

fix: import문 수정(공백 제거)
  frontend/src/pages/Attendance.jsx
Owners: @DongEun02

fix: import문 수정(공백 제거) (#10)
  frontend/src/pages/Attendance.jsx
Owners: @DongEun02

feat : 백테스팅 관련 엔티티 추가
  backend/src/main/java/org/sejongisc/backend/backtest/entity/BacktestRun.java
  backend/src/main/java/org/sejongisc/backend/backtest/entity/BacktestRunMetrics.java
  backend/src/main/java/org/sejongisc/backend/template/entity/Template.java
  backend/src/main/java/org/sejongisc/backend/template/entity/TemplateBookmark.java
  backend/src/main/java/org/sejongisc/backend/template/entity/TemplateLike.java
Owners: @discipline24

fix : lombok 어노테이션 enum에는 작동안하므로 제거
  backend/src/main/java/org/sejongisc/backend/common/exception/ErrorCode.java
Owners: @discipline24

feat : 백테스팅 관련 엔티티 추가
  backend/src/main/java/org/sejongisc/backend/backtest/entity/BacktestRun.java
  backend/src/main/java/org/sejongisc/backend/backtest/entity/BacktestRunMetrics.java
  backend/src/main/java/org/sejongisc/backend/template/entity/Template.java
  backend/src/main/java/org/sejongisc/backend/template/entity/TemplateBookmark.java
  backend/src/main/java/org/sejongisc/backend/template/entity/TemplateLike.java
Owners: @discipline24

feat: 출석 관리 시스템 엔티티 구현
  backend/src/main/java/org/sejongisc/backend/attendance/entity/Attendance.java
  backend/src/main/java/org/sejongisc/backend/attendance/entity/AttendanceSession.java
  backend/src/main/java/org/sejongisc/backend/attendance/entity/AttendanceStatus.java
  backend/src/main/java/org/sejongisc/backend/attendance/entity/Location.java
  backend/src/main/java/org/sejongisc/backend/attendance/entity/SessionStatus.java
  backend/src/main/java/org/sejongisc/backend/attendance/entity/SessionVisibility.java
Owners: @discipline24

SISC1-91 [FEAT] 베팅 게임 BetRound 엔티티 작성
  backend/src/main/java/org/sejongisc/backend/BackendApplication.java
  backend/src/main/java/org/sejongisc/backend/betting/entity/BetRound.java
Owners: @discipline24

SISC1-92 [FEAT] 베팅 게임 UserBet 엔티티 작성
  backend/src/main/java/org/sejongisc/backend/betting/entity/UserBet.java
Owners: @discipline24

[Feat] user ê관련 entity 설계
  backend/src/main/java/org/sejongisc/backend/user/entity/AuthProvider.java
  backend/src/main/java/org/sejongisc/backend/user/entity/Role.java
  backend/src/main/java/org/sejongisc/backend/user/entity/Team.java
  backend/src/main/java/org/sejongisc/backend/user/entity/TeamMember.java
  backend/src/main/java/org/sejongisc/backend/user/entity/User.java
  backend/src/main/java/org/sejongisc/backend/user/entity/UserOauthAcoount.java
Owners: @discipline24

Create AI
  AI
Owners: @Kosw6

ëuser ãentity 수정
  backend/src/main/java/org/sejongisc/backend/user/entity/AuthProvider.java
  backend/src/main/java/org/sejongisc/backend/user/entity/Role.java
  backend/src/main/java/org/sejongisc/backend/user/entity/Team.java
  backend/src/main/java/org/sejongisc/backend/user/entity/TeamMember.java
  backend/src/main/java/org/sejongisc/backend/user/entity/User.java
  backend/src/main/java/org/sejongisc/backend/user/entity/UserOauthAccount.java
Owners: @discipline24

SISC1-91 [FIX] 코드 리뷰 내용 반영
  backend/src/main/java/org/sejongisc/backend/betting/entity/BetRound.java
  backend/src/main/java/org/sejongisc/backend/betting/enums/BetOption.java
  backend/src/main/java/org/sejongisc/backend/betting/enums/MarketType.java
  backend/src/main/java/org/sejongisc/backend/betting/enums/Scope.java
Owners: @discipline24

SISC1-92 [FIX] 코드 리뷰 내용 반영
  backend/src/main/java/org/sejongisc/backend/betting/entity/UserBet.java
  backend/src/main/java/org/sejongisc/backend/betting/enums/Status.java
Owners: @discipline24

SISC1-91 [FIX] PK 필드명 변경
  backend/src/main/java/org/sejongisc/backend/betting/entity/BetRound.java
Owners: @discipline24

SISC1-92 [FIX] PK 컬럼명 변경
  backend/src/main/java/org/sejongisc/backend/betting/entity/UserBet.java
Owners: @discipline24

[Feat] UUID annotaion 수정 및 변수명 수정
  backend/src/main/java/org/sejongisc/backend/user/entity/Role.java
  backend/src/main/java/org/sejongisc/backend/user/entity/Team.java
  backend/src/main/java/org/sejongisc/backend/user/entity/TeamMember.java
  backend/src/main/java/org/sejongisc/backend/user/entity/User.java
  backend/src/main/java/org/sejongisc/backend/user/entity/UserOauthAccount.java
Owners: @discipline24

refactor: 팀 피드백 반영 - UUID 타입 및 네이밍 컨벤션 적용
  backend/src/main/java/org/sejongisc/backend/attendance/entity/Attendance.java
  backend/src/main/java/org/sejongisc/backend/attendance/entity/AttendanceSession.java
  backend/src/main/java/org/sejongisc/backend/attendance/entity/Location.java
Owners: @discipline24

Sisc1 54 be 템플릿 백테스팅 실행 엔티티 구현 (#12)
  backend/src/main/java/org/sejongisc/backend/backtest/entity/BacktestRun.java
  backend/src/main/java/org/sejongisc/backend/backtest/entity/BacktestRunMetrics.java
  backend/src/main/java/org/sejongisc/backend/template/entity/Template.java
  backend/src/main/java/org/sejongisc/backend/template/entity/TemplateBookmark.java
  backend/src/main/java/org/sejongisc/backend/template/entity/TemplateLike.java
Owners: @discipline24

SISC1-91 [FEAT] 베팅 게임 BetRound 엔티티 작성 (#14)
  backend/src/main/java/org/sejongisc/backend/BackendApplication.java
  backend/src/main/java/org/sejongisc/backend/betting/entity/BetRound.java
  backend/src/main/java/org/sejongisc/backend/betting/enums/BetOption.java
  backend/src/main/java/org/sejongisc/backend/betting/enums/MarketType.java
  backend/src/main/java/org/sejongisc/backend/betting/enums/Scope.java
Owners: @discipline24

SISC1-69 [Feat] user 관련 entity 설계 (#16)
  backend/src/main/java/org/sejongisc/backend/user/entity/AuthProvider.java
  backend/src/main/java/org/sejongisc/backend/user/entity/Role.java
  backend/src/main/java/org/sejongisc/backend/user/entity/Team.java
  backend/src/main/java/org/sejongisc/backend/user/entity/TeamMember.java
  backend/src/main/java/org/sejongisc/backend/user/entity/User.java
  backend/src/main/java/org/sejongisc/backend/user/entity/UserOauthAccount.java
Owners: @discipline24

SISC1-92 [FIX] Status 클래스 이름 구체화 ( -> BetStatus)
  backend/src/main/java/org/sejongisc/backend/betting/entity/UserBet.java
  backend/src/main/java/org/sejongisc/backend/betting/enums/BetStatus.java
  backend/src/main/java/org/sejongisc/backend/betting/enums/Status.java
Owners: @discipline24

피드백 반영
  backend/src/main/java/org/sejongisc/backend/attendance/entity/Attendance.java
  backend/src/main/java/org/sejongisc/backend/attendance/entity/AttendanceSession.java
Owners: @discipline24

SISC1-92 [FIX] uuid의 columnDefinition 통일
  backend/src/main/java/org/sejongisc/backend/betting/entity/UserBet.java
Owners: @discipline24

SISC1-92 [FEAT] 베팅 게임 UserBet 엔티티 작성 (#15)
  backend/src/main/java/org/sejongisc/backend/betting/entity/UserBet.java
  backend/src/main/java/org/sejongisc/backend/betting/enums/BetStatus.java
Owners: @discipline24

SISC1-49: 출석 관리 시스템 엔티티 구현 (#13)
  backend/src/main/java/org/sejongisc/backend/attendance/entity/Attendance.java
  backend/src/main/java/org/sejongisc/backend/attendance/entity/AttendanceSession.java
  backend/src/main/java/org/sejongisc/backend/attendance/entity/AttendanceStatus.java
  backend/src/main/java/org/sejongisc/backend/attendance/entity/Location.java
  backend/src/main/java/org/sejongisc/backend/attendance/entity/SessionStatus.java
  backend/src/main/java/org/sejongisc/backend/attendance/entity/SessionVisibility.java
Owners: @discipline24

feat(ai): add AI batch skeleton (finder/transform/xai)
  AI/configs/.env.example
  AI/finder/__init__.py
  AI/finder/jobs/daily_universe.py
  AI/finder/jobs/export_latest.py
  AI/finder/jobs/score_rank.py
  AI/finder/modules/features.py
  AI/finder/modules/loaders.py
  AI/finder/modules/ranker.py
  AI/libs/__init__.py
  AI/libs/core/config.py
  AI/libs/core/logging.py
  AI/libs/db/engine.py
  AI/libs/db/schema.sql
  AI/libs/utils/time.py
  AI/transform/__init__.py
  AI/transform/artifacts/.gitkeep
  AI/transform/datasets/.gitkeep
  AI/transform/jobs/predict_batch.py
  AI/transform/jobs/train_model.py
  AI/transform/models/registry.py
  AI/transform/modules/lightgbm.py
  AI/transform/modules/lstm.py
  AI/transform/modules/make_dataset.py
  AI/transform/modules/scalers.py
  AI/xai/__init__.py
  AI/xai/jobs/explain_latest.py
  AI/xai/jobs/reason_card_gen.py
  AI/xai/modules/feature_importance.py
  AI/xai/modules/render_md.py
  AI/xai/modules/shap_explainer.py
  AI/xai/templates/reason_card.md
Owners: @Kosw6

CODEOWNERS:

*          @Kosw6
/frontend/ @DongEun02
/backend/  @discipline24
/ai/       @twq110
